<div *ngIf="isLoggedIn()" class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Admin</div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          repellat reiciendis eaque quaerat expedita iste iure magnam culpa
          ducimus, minus pariatur commodi sint, alias dolorem perferendis ullam
          voluptatibus accusantium consequatur.
        </p>
      </div>
      <div class="card-footer">
        <a [routerLink]="['admin']" class="btn btn-primary">Access</a>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title">GitHub</div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          repellat reiciendis eaque quaerat expedita iste iure magnam culpa
          ducimus, minus pariatur commodi sint, alias dolorem perferendis ullam
          voluptatibus accusantium consequatur.
        </p>
      </div>
      <div class="card-footer">
        <a [routerLink]="['github']" class="btn btn-primary">Access</a>
      </div>
    </div>
  </div>
</div>
