<div class="container my-5" *ngIf="picture">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <div class="card shadow-sm border-light">
        <div class="card-body">
          <h4 class="card-title text-center mb-4">
            <img src="{{ picture.src }}" height="150" class="rounded-circle" alt="Current Picture" />
            <br />
            <span class="mt-2 d-block">Edit Gambar</span>
          </h4>

          <form #form="ngForm" (submit)="onSubmit(form)">
            
            <div class="form-group mb-4">
              <label for="file" class="form-label">Pilih Gambar Baru</label>
              <input
                #file
                type="file"
                (change)="uploadPicture($event)"
                class="form-control"
                ngModel
                name="file"
                accept="image/*"
                required
              />
            </div>

            <!-- Tombol Upload dan Hapus -->
            <div class="d-flex justify-content-between">
              <button
                [disabled]="form.invalid"
                type="submit"
                class="btn btn-success"
              >
                <i class="fas fa-upload"></i> Upload
              </button>

              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="onRemove()"
              >
                <i class="fas fa-times"></i> Hapus
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
